/*
 * "TofuFont" is lisenced under the BSD 2-Clause License
 * by https://github.com/MichinariNukazawa/TofuFont/
 * by https://michinarinukazawa.github.io/TofuFont/html/
 */

@font-face {
  font-family: 'TofuFont';
  src: url(../font/TofuFont_0.23.otf);
}

body,
pre {
  font-family: 'TofuFont', sans-serif !important;
}
